body{
display: flex;
justify-content: center;
align-items: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
background-image: radial-gradient(circle, #09ad6e, #2a5298);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.username input{
   
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    height: 10px;

}
.password input{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    height: 10px;
}
button{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: #09ad6e;
    color: white;
    border: none;
    cursor: pointer;
    width: 260px;
}
button:hover{
    background-color: #54b8c5;
}
.remember input{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
}
.remember label{
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.form:hover{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}